.buttom {
  background-color: #4CAF50;
display: flex;
justify-content:center;
   width : 470px;
height:150px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  
}
